@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import "reset";
@import "typo";

//Mobile
body {
  background-image: url(./wave-background-mobile.svg);
}
.titles-container {
  //h1 'expense tracker' - h2 'add new item'
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2.5rem 0;
  h1 {
    margin: 1rem 0 0 0;
  }
  h2 {
    margin: 1rem 0 0 0;
  }
}
.expenses-container {
  //contenedor tracker
  width: 91vw;
  margin: 1rem 2vw;
  .expenses-name {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-around;
    label {
      display: inline-block;
      width: 20%;
      font-size: 1.6rem;
    }
    input {
      width: 70%;
      border: 0.1px solid grey;
      border-radius: 2px;
      padding: 0.2rem;
    }
    ::placeholder {
      text-align: start;
      font-size: 1.2rem;
    }
  }
}
.btn-container {
  width: 91vw;
  margin: 2.5rem 2vw; //Igual que el margen del contenedor arriba -> importar
  display: flex;
  justify-content: center;
  .buttons {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 1.3rem;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
  }
  button:hover {
    border: 1px solid #090909;
  }
}
.table {
  .expenses-table {
    //tabla
    width: 91vw;
    margin: 1rem 2vw; //Igual que el margen del contenedor arriba -> importar
    padding: 0.5rem;
    //fondo de tabla
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .table-header {
        border-bottom: 1px solid white;
        width: 25%;
        text-align: center;
        color: white;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
      }
    }
    .expenses {
      width: 25%;
      text-align: center;
      color: white;
      font-size: 1.1rem;
      padding: 0.5rem 1rem;
    }
  }
}

//Tablet
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    background-image: url(./wave-background-tablet.svg);
  }
  .titles-container {
    h1 {
      font-size: 7rem;
    }
    h2 {
      font-size: 3rem;
    }
  }
  .expenses-container {
    width: 75%;
    margin: 0 12%;
    box-sizing: border-box;
    padding: 1rem;
    .expenses-name {
      label {
        font-size: 1.8rem;
      }
    }
  }
  .btn-container {
    margin: 1.5rem 1.5rem 2.5rem 1.5rem;
    .buttons {
      font-size: 1.5rem;
    }
  }
  .table {
    .expenses-table {
      width: 75%;
      margin: 3rem 12%;
      tr {
        .table-header {
          font-size: 1.6rem;
        }
        .expenses {
          font-size: 1.4rem;
        }
      }
    }
  }
}

//Desktop
@media only screen and (min-width: 992px) {
  body {
    background-image: url(./wave-background-desktop.svg);
  }
  .titles-container {
    h1 {
      font-size: 7rem;
    }
    h2 {
      font-size: 3rem;
    }
  }
  .expenses-container {
    width: 75%;
    margin: 0 12%;
    box-sizing: border-box;
    padding: 1rem;
    .expenses-name {
      label {
        font-size: 1.8rem;
      }
    }
  }
  .btn-container {
    margin: 1.5rem 1.5rem 2.5rem 1.5rem;
    .buttons {
      font-size: 1.5rem;
    }
  }
  .table {
    .expenses-table {
      width: 75%;
      margin: 3rem 12%;
      tr {
        .table-header {
          font-size: 1.6rem;
        }
        .expenses {
          font-size: 1.4rem;
        }
      }
    }
  }
}
