@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #6a2c70;
  background-image: url(./wave-background.svg);
}

.title {
  font-size: 4.5rem;
  font-weight: 500;
  color: #f9ed69;
  font-family: "Lobster", cursive;
  text-shadow: 2px 3px #b83b5e;
}

.subtitle {
  font-weight: 400;
  font-size: 2.5rem;
  color: #f9ed69;
  font-family: "Roboto", sans-serif;
}

label {
  font-weight: 300;
  color: #f9ed69;
}

.table-header {
  font-weight: 400;
}

.titles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.5rem 0;
}

.titles-container h1 {
  margin: 1rem 0 0 0;
}

.titles-container h2 {
  margin: 1rem 0 0 0;
}

.expenses-container {
  width: 91vw;
  margin: 1rem 2vw;
}

.expenses-container .expenses-name {
  margin: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.expenses-container .expenses-name label {
  display: inline-block;
  width: 20%;
  font-size: 1.6rem;
}

.expenses-container .expenses-name input {
  width: 70%;
  border: 0.1px solid grey;
  border-radius: 2px;
  padding: 0.2rem;
}

.expenses-container .expenses-name ::-webkit-input-placeholder {
  text-align: start;
  font-size: 1.2rem;
}

.expenses-container .expenses-name :-ms-input-placeholder {
  text-align: start;
  font-size: 1.2rem;
}

.expenses-container .expenses-name ::-ms-input-placeholder {
  text-align: start;
  font-size: 1.2rem;
}

.expenses-container .expenses-name ::placeholder {
  text-align: start;
  font-size: 1.2rem;
}

.btn-container {
  width: 91vw;
  margin: 2.5rem 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-container .buttons {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 1.3rem;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-container button:hover {
  border: 1px solid #090909;
}

.table .expenses-table {
  width: 91vw;
  margin: 1rem 2vw;
  padding: 0.5rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.table .expenses-table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table .expenses-table tr .table-header {
  border-bottom: 1px solid white;
  width: 25%;
  text-align: center;
  color: white;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.table .expenses-table .expenses {
  width: 25%;
  text-align: center;
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}
/*# sourceMappingURL=style.css.map */